<html lang="en">
  <%- include include/head.ejs %>
    <body>
        <div class="container">
            <%- include include/header.ejs %>
            <div class='outline'>
                <div>
                  <h3>Name</h3>
                  <input value='<%= community.get("name") %>'/>
                  <h3>Image</h3>
                  <input value='<%= community.get("image") %>'>
                  </div>
                  <h3>Short description</h3>
                  <input value='<%= community.get("description") %>'/>
                  <h3>Administrators</h3>
                  <input value='<%= community.get("administrators") %>'/>
                  <h3>Moderators</h3>
                  <input value='<%= community.get("moderators") %>'/>
                  <h3>Post selection</h3>
                  <p><%= community.get("type_community") %></p>
                  <h3>Tags</h3>
                  <input value='<%= community.get("tags") %>'/>
                  <h3 class="whitelist mod">Whitelist</h3>
                  <input value='<%= community.get("whitelist") %>'/>
                  <h3 class="blacklist mod">Blacklist</h3>
                  <input value='<%= community.get("blacklist") %>'/>
                  <h3>Vote at Voting Power percentage</h3>
                  <input value='<%= community.get("vote_when") %>'/>
                  <h3>Maximum number of daily upvotes per user</h3>
                  <input value='<%= community.get("max_upvote") %>'/>
              </div>
          </div>
          <%- include include/footer.ejs %>
          </div>

          <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
          <script src="https://cdn.steemjs.com/lib/latest/steem.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/parse/1.11.0/parse.min.js"></script>
          <script src="/public/assets/js/scripts.js"></script>
          <script>

          /* Mobile menu openning */
          $(document).ready(function() {
          //Show whitelist or blacklist according to the type of community
          $("#type_community").change(function() {
              $(".whitelist").toggle($(
                 "#type_community option[name='whitelist']"
              ).prop("selected") == true);
              $(".blacklist").toggle($(
                 "#type_community option[name='open']"
              ).prop("selected") == true);
          });
        });

          </script>
      </body>
</html>
