<!DOCTYPE html>
<html lang="en">
  <%- include include/head.ejs %>
    <body>
        <div class="wrapper">
            <%- include include/header.ejs %>

            <main class="main">
              <section id="edit-page">
                <div class="container container-edit">

                    <h3>Name</h3>
                    <input id="name" value='<%= community.get("name") %>'/>
                    <h3>Image</h3>
                    <input id="image" value='<%= community.get("image") %>'>
                    <h3>Short description</h3>
                    <input id="description" value='<%= community.get("description") %>'/>
                    <% if(trail!=null) { %>
                    <h3>Trail Tail</p>
                    <p id="tail_trail">@<%= trail.get("username") %></p>
                    <button id="remove_trail">Remove Trail</button>
                    <% } %>
                    <h3>Administrators</h3>
                    <input id="admins"value='<%= community.get("administrators") %>'/>
                    <h3>Moderators</h3>
                    <input id="moderators" value='<%= community.get("moderators") %>'/>
                    <h3>Post selection</h3>
                    <select id="type_community">
                      <option name="whitelist"  value="0">Whitelist only</option>
                      <option name="open" value="1">Open</option>
                    </select>
                    <h3>Tag</h3>
                    <input id="tags" value='<%= community.get("tags") %>'/>
                    <h3 class="white mod">Whitelist</h3>
                    <input id="whitelist" class="white" value='<%= community.get("whitelist") %>'/>
                    <h3 class="black mod">Blacklist</h3>
                    <input id="blacklist" class="black" value='<%= community.get("blacklist") %>'/>
                    <button id="save-edit">Save</button>
                    <% if(type_user==1){ %>
                    <button id="delete" >Delete community</button>
                    <div id="delete_confirm">
                      <p>Are you sure you want to delete <%= community.get("name") %>?</p>
                      <button id="yes-delete">Yes</button>
                      <button id="no-delete">No</button>
                    </div>
                    <% } %>
                    <p id="error_create" style="color:red;display:none;">Please fill all the non optional fields.</p>                 
                </div>
              </section>
            </main>
        
          <%- include include/footer.ejs %>
          </div>

          <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
          <script src="https://cdn.steemjs.com/lib/latest/steem.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/parse/1.11.0/parse.min.js"></script>
          <script src="/public/assets/js/scripts.js"></script>
          <script>
          $(document).ready(function() {

            const menuMainButton = $('.menu-icon');
              menuMainButton.click(function() {
                  $('.mobile-menu').toggleClass('open');
              });

          //Hide the delete confirmation button at first
          $("delete_confirm").hide();

          //Show confirmation buttons if delete button is clicked
          $("#delete").click(function(){
            $("#delete_confirm").show();
          });

          //Hide confirmation buttons if user clicks no
          $("#no-delete").click(function(){
            $("#delete_confirm").hide();
          });

          // Make AJAX request to delete the community
          $("#yes-delete").click(function(){
            $("delete_confirm").hide();
            $.ajax({
                url: '/community/<%=community.id %>',
                type: 'DELETE',
                contentType:'application/json',
                dataType: 'text'})
              .done(function() {
                  window.location.href="/";
               })
                .fail(function(jqXHR, textStatus, errorThrown) {
                  if(jqXHR.status==400)
                    window.location.href="/error/sth_wrong";
                  else if(jqXHR.status==401)
                    window.location.href="/error/denied";
                });
          });

          //If all fields are completed, send back the information to create the community
          $("#save-edit").click(function() {
              if ($("#name").val() != "" &&
                  $("#description").val() != "" &&
                  $("#image").val() != "" &&
                  $("#tags").val() != "" &&
                  $("#max_upvote").val() != "" &&
                  $("#vote_when").val() != "") {
                  const obj = {
                      name: $("#name").val(),
                      description: $("#description").val(),
                      image: $("#image").val(),
                      tags: $("#tags").val(),
                      type_community: $(
                          "#type_community option:selected"
                      ).val()==0?"Whitelist only":"Open",
                      administrators: $("#admins").val(),
                      moderators: $("#moderators").val(),
                      whitelist: $("#whitelist").val(),
                      id:"<%=community.id %>",
                      blacklist: $("#blacklist").val(),
                      owner: "<%=session.name %>"
                  };
                    $.ajax({
                         type: 'POST',
                         data: JSON.stringify(obj),
                         contentType: 'application/json',
                         url: '/community'
                    })
                    .done(function() {
                      window.location.href="/view/"+obj.name;
                   })
                    .fail(function() {
                      window.location.href="/error/edit_error";
                    });
              }
              else $("#error_create").show();
          });

          $("#remove_trail").click(function(){
            $.ajax({
                url: '/trail_tail/<%=community.id %>',
                type: 'DELETE',
                contentType:'application/json',
                dataType: 'text'})
              .done(function() {
                  window.location.href="/view/<%=community.get('name') %>";
               })
                .fail(function(jqXHR, textStatus, errorThrown) {
                  if(jqXHR.status==400)
                    window.location.href="/error/sth_wrong";
                  else if(jqXHR.status==401)
                    window.location.href="/error/denied";
                });
          });
          //Hide blacklist or whitelist depending on the type of community
          if("<%= community.get("type_community") %>"=="Whitelist only") {
            $(".black").hide();
            $("#type_community").val("0");
          }
          else{
             $(".white").hide();
             $("#type_community").val("1");
           }

          // Change black/whitelist according to changes in type of community
          $("#type_community").change(function() {
              $(".white").toggle($(
                  "#type_community option[name='whitelist']"
              ).prop("selected") == true);
              $(".black").toggle($(
                  "#type_community option[name='open']"
              ).prop("selected") == true);
          });

          // Only enable whitelist and blacklist if the user is a moderator
          if("<%=type_user%>"=="0"){
            $("input").prop("disabled",true);
            $("#type_community").prop("disabled",true);
            $(".black, .white").prop("disabled",false);
          }

        });

        </script>
      </body>
</html>
