<!DOCTYPE html>
<html lang="en">
  <%- include include/head.ejs %>
    <body>
        <div class="wrapper">
            <%- include include/header.ejs %>
            <!-- Display list of communities !-->
            <main class="main">
                <div class='container other_posts'>
                    <% communities.forEach(function(community, index) { %>
                        <div class="post_default post">
                            <a href="/view/<%=community.get('name')%>" class="nb_post"><%=index+1%></a>
                            <div class="post_img" style="background-image: url(<%= community.get('image')%>)">
                            </div>
                            <div class="post_author">
                                <a href="/posts/<%= community.get('name')%>" >
                                    <%=community.get('name')%>
                                </a>
                            </div>
                            <span class="post_title"><%= community.get('description')%></span>
                            <!-- TODO: Add link to post -->
                        </div>
                    <% }); %>
                </div>
            </main>
            <%- include include/footer.ejs %>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.steemjs.com/lib/latest/steem.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/parse/1.11.0/parse.min.js"></script>
        <script src="/public/assets/js/scripts.js"></script>
        <script>
            /* Mobile menu openning */
            $(document).ready(function() {
                const menuMainButton = $('.menu-icon');
                menuMainButton.click(function() {
                    $('.mobile-menu').toggleClass('open');
                });
            });
        </script>
    </body>
</html>
