<html lang="en">
  <head>
    <title>1UP</title>
    <meta name="theme-color" content="#993493">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link href="/public/assets/css/style.css" rel="stylesheet">
    <link href="/public/assets/fonts/icon-font.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700" rel="stylesheet">
    <!-- FavIcon -->
    <link rel="shortcut icon" type="image/x-icon" href="public/assets/images/favicon.png?v=1" />
    <link rel="apple-touch-icon" href="public/assets/images/favicon-touch.png?v=2"/>

  </head>

  <body>
    <div class="container">
      <div class="header">
				<div class="wrapper">
					<a href="/"><img class="logo" src="/public/assets/images/logo.svg" alt="1UP logo" title="1UP"></a>
					<span class="menu-main-button">
						<span class="bar bar-1"></span>
						<span class="bar bar-2"></span>
						<span class="bar bar-3"></span>
					</span>
          <!-- Main header !-->
	        <ul class="menu-main">
            <% if(loggedIn==false){ %>
            <li><a href="/login"  class="item">Login</a></li>
            <%} else { %>
              <li><a href="/create"  class="item">Create Community</a></li>
              <li><a href="/logout"  class="item">Logout</a></li>
              <% } %>
	        	<li><a href="https://steemit.com/utopian-io/@flauwy/steemy-ep-46-how-to-create-and-follow-a-curation-trail-with-steemauto" target="_blank" class="item">How to vote?</a></li>
	          <li><a href="https://steemit.com/curation/@flauwy/utopian-1up-a-lucrative-steem-trail-for-the-best-daily-utopian-contributions" target="_blank" class="item">About</a></li>
	          <li><a href="https://github.com/therealFlauwy/1UP" target="_blank" class="item icon-github" title="1UP on Github"></a></li>
	        </ul>
				</div>
      </div>
      <!-- Display list of communities !-->
      <div class='other_posts'>
       	<% communities.forEach(function(community, index) { %>
				<div class="post_default post">
         	<span class="nb_post"><%=index+1%></span>
					 	<div class="post_img" style="background-image: url(<%= community.get('image')%>)">
						</div>
	        <div class="post_author"><a href="/<%= community.get('name')%>" target="_blank"><%=community.get('name')%></a></div>
	        <span  class="post_title"  target="_blank"><%= community.get('description')%></span> <!-- TODO: Add link to post -->
				</div>
	      <% }); %>
      </div>
			<footer id="footer" class="align-center">
				<p>Created with <span class="heart">♥</span> for Steem and Utopian</p>
				<p>Idea by <a href="https://steemit.com/@flauwy" target="_blank">@flauwy</a>, development by <a href="https://steemit.com/@stoodkev" target="_blank">@stoodkev</a>, design by <a href="https://steemit.com/@andrejcibik" target="_blank">@andrejcibik</a>.</p>
      </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.steemjs.com/lib/latest/steem.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parse/1.11.0/parse.min.js"></script>
    <script>


	/* Mobile menu openning */
	$( document ).ready(function() {
		var menuMainButton = $('.menu-main-button');
		menuMainButton.click(function(){
			if ($('body').hasClass('open-menu'))
				$('body').removeClass('open-menu');
			else {
				$('body').addClass('open-menu');
			}
		});
	});
    </script>
  </body>
</html>
