<%- include include/header.ejs %>
            <!-- Display list of communities !-->
            <div class='other_posts'>
                <% communities.forEach(function(community, index) { %>
                    <div class="post_default post">
                        <span class="nb_post"><%=index+1%></span>
                        <div class="post_img" style="background-image: url(<%= community.get('image')%>)">
                        </div>
                        <div class="post_author">
                            <a href="/<%= community.get('name')%>" target="_blank">
                                <%=community.get('name')%>
                            </a>
                        </div>
                        <span class="post_title" target="_blank"><%= community.get('description')%></span>
                        <!-- TODO: Add link to post -->
                    </div>
                    <% }); %>
            </div>
            <%- include include/footer.ejs %>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.steemjs.com/lib/latest/steem.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/parse/1.11.0/parse.min.js"></script>
        <script>
            /* Mobile menu openning */
            $(document).ready(function() {
                const menuMainButton = $('.menu-main-button');
                menuMainButton.click(function() {
                    $('body').toggleClass('open-menu');
                });
            });
        </script>
    </body>
</html>
