<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Utopian 1UP</title>
    <link href="/public/assets/css/style.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div class="align-center">
        <img id="1UP-logo" src="/public/assets/images/1UP-logo.png">
      </div>

      <h1>Posts</h1>
      <div class='posts'>
        <ul>
       <%
       posts.forEach(function(post, index) { %>
           <li><a class='url' href="<%= post.get('url') %>"><%= post.get('title') %></a>
             <p>Posted by @<%= post.get('author') %> (<%= post.get('reputation') %>). Suggested by <%= post.get('from_length')%> users: <%= post.get('from')%>.</p>
             <span class="info"></span>
           </li>

       <% }); %>
       </ul>
       <% if(posts.length===0){%>
       <p>Nothing to show, sorry ;p</p><% } %>


      </div>


      <footer id="footer" class="align-center">
        <ul>
          <li><a href="https://steemit.com/curation/@flauwy/utopian-1up-a-lucrative-steem-trail-for-the-best-daily-utopian-contributions" target="_blank">1UP Intro</a></li>
          <li><a href="https://steemit.com/utopian-io/@flauwy/steemy-ep-46-how-to-create-and-follow-a-curation-trail-with-steemauto" target="_blank">Follow the trail</a></li>
          <li><a href="https://github.com/therealFlauwy/1UP" target="_blank">1UP on Github</a></li>
        </ul>
      </footer>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdn.steemjs.com/lib/latest/steem.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parse/1.11.0/parse.min.js"></script>
    <script>
$( document ).ready(function() {
    $('.posts li').each(function(i){
      steem.config.set('websocket','wss://steemd.privex.io');
      steem.api.getContentAsync($('.url').eq(i).attr('href').split('@')[1].split('/')[0], $('.url').eq(i).attr('href').split('/')[$('.url').eq(i).attr('href').split('/').length-1]).then(result=> {
        if(result.active_votes.find(function (element) {
            return element.voter == 'utopian-io'||element.voter == 'utopian-1up';
        })!==undefined)
      {
          console.log('Voted already');
          $('.posts li').eq(i).hide();
      }
      $('.info').eq(i).html('Upvotes: '+result.active_votes.length+'. Pending payout: '+result.pending_payout_value);
    });
  });
});
    </script>
  </body>
</html>
