<html lang="en">
  <%- include include/head.ejs %>
    <body>
        <div class="container">
          <%- include include/header.ejs %>
			<div class="top">
        <div class="wrapper">
					<div class="top_left">
						<div class="voting_period_wrapper">
	            <p class="h2">Voting period ends in:</p>
	            <div class="voting_period">
								<span class="skeleton">
									00<span class='unit'>h</span> 00<span class='unit'>m</span>
								</span>
							</div>
              <% if(posts.length!==0){ %>
	            <div class="goes_to">1UP goes to <a href="https://utopian.io/@<%= posts[0].get('author')%>" class="goes_to_user" target="_blank" title="Utopian profile">@<%= posts[0].get('author')%> !</a></div><%}%>
	          </div>
	        </div>
	        <% if(posts.length!==0){ %>
	        <div class="post_default top_post">
	          <span class="nb_post">1</span>
		          <div class="post_img" style="background-image: url(<%= posts[0].get('image')%>)">
								<div class="post_links">
									<a href="https://steemit.com/utopian-io/@<%= posts[0].get('author')%>/<%=posts[0].get('permlink') %>" class="post_link link-steemit icon-steemit" target="_blank" title="Open on Steemit"></a>
									<!--<a href="https://utopian.io/utopian-io/@<%= posts[0].get('author')%>/<%=posts[0].get('permlink') %>" class="post_link link-utopian icon-utopian" target="_blank" title="Open on Utopian"></a>!-->
									<a href="https://busy.org/utopian-io/@<%= posts[0].get('author')%>/<%=posts[0].get('permlink') %>" class="post_link link-busy icon-busy" target="_blank" title="Open on Busy"></a>
								</div>
								<div class="button-upvote 1UP_votes" id="<%= posts[0].id %>"><span class="icon icon-1up"></span><span class="votes_amount"><%= posts[0].get('votes')||0%></span></div>
							</div>
	          <div class="post_author"><a href="https://utopian.io/@<%= posts[0].get('author')%>" target="_blank"><%= posts[0].get('author')%> <%= /*posts[0].get('reputation')*/%></a></div>
	          <a href="https://utopian.io/utopian-io/@<%= posts[0].get('author')%>/<%=posts[0].get('permlink') %>" class="post_title" title="<%= posts[0].get('title')%>" target="_blank"><%= posts[0].get('title')%></a> <!-- TODO: Add link to post -->
	        </div>
	        <%}%>
        </div>
      </div>

      <div class='other_posts'>
       	<% posts.forEach(function(post, index) { if(index!==0){%>
				<div class="post_default post">

         	<span class="nb_post"><%=index+1%></span>
					 	<div class="post_img" style="background-image: url(<%= posts[index].get('image')%>)">
							<div class="post_links">
								<!-- TODO: These links dont work -->
								<a href="https://utopian.io/utopian-io/@<%= post.get('author')%>/<%=post.get('permlink') %>" class="post_link link-utopian icon-utopian" target="_blank" title="Open on Utopian"></a>
                <!--<a href="https://steemit.com/utopian-io/@<%= post.get('author')%>/<%=post.get('permlink') %>" class="post_link link-steemit icon-steemit" target="_blank" title="Open on Steemit"></a>-->
								<a href="https://busy.org/utopian-io/@<%= post.get('author')%>/<%=post.get('permlink') %>" class="post_link link-busy icon-busy" target="_blank" title="Open on Busy"></a>
						 	</div>
							<div class="button-upvote 1UP_votes" id="<%= post.id %>"><span class="icon icon-1up"></span><span class="votes_amount"><%= posts[index].get('votes')||0%></span></div>
						</div>
	        <div class="post_author"><a href="https://utopian.io/@<%= posts[index].get('author')%>" target="_blank"><%= posts[index].get('author')%></a> <%= /*posts[index].get('reputation')*/%></div>
	        <a href="https://utopian.io/utopian-io/@<%= posts[index].get('author')%>/<%=posts[0].get('permlink') %>" class="post_title" title="<%= posts[index].get('title')%>" target="_blank"><%= posts[index].get('title')%></a> <!-- TODO: Add link to post -->
				</div>
	      <% }}); %>

				<% if(posts.length<=0){%>
 				 <div class="empty-state">
 					 <br>
 					 <p class="h2">We don’t have anything<br> to show yet</p>
 				 </div>
 			 <% } %>

      </div>
      <%- include include/footer.ejs %>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.steemjs.com/lib/latest/steem.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parse/1.11.0/parse.min.js"></script>
    <script>

    steem.config.set('websocket','wss://steemd.privex.io');

    $('.1UP_votes').on('click', function(){
          let that=this;
          let id=this.id;
          console.log(id);
          $.ajax({
            type:"POST",
            contentType: 'application/json',
            url: '/vote',
            data:JSON.stringify({"voter":"<%=session.name%>","community":"<%=community%>","id":id}),
            success: function(msg) {
              console.log('voted!');
              $(that).find(".votes_amount").html(parseInt($(that).find(".votes_amount").html())+1);
            },
            error: function(msg) {
              alert(msg.responseJSON.error);
            }
          });
        });

      //get bot account information
      steem.api.getAccounts(["<%=bot%>"], async function(err, result) {
        console.log(err, result);
        var vp=await getVotingMana(result["0"]);
        var timeBeforeFull=getTimeBeforeFull(vp);
        startTicker(timeBeforeFull);
        console.log(vp,timeBeforeFull);
      });


      var getVotingMana = function(account) {
        return new Promise(function(fulfill,reject){
          const mana= getMana(account);
          fulfill(mana.estimated_pct.toFixed(2));
        });
      };

      var getMana = function(account) {
          const STEEM_VOTING_MANA_REGENERATION_SECONDS =432000;
          const estimated_max = getEffectiveVestingSharesPerAccount(account)*1000000;
          const current_mana = parseFloat(account.voting_manabar.current_mana);
          const last_update_time = account.voting_manabar.last_update_time;
          const diff_in_seconds = Math.round(Date.now()/1000-last_update_time);
          let estimated_mana = (current_mana + diff_in_seconds * estimated_max / STEEM_VOTING_MANA_REGENERATION_SECONDS);
          if (estimated_mana > estimated_max)
              estimated_mana = estimated_max;
          const estimated_pct = estimated_mana / estimated_max * 100;
          return {"current_mana": current_mana, "last_update_time": last_update_time,
                  "estimated_mana": estimated_mana, "estimated_max": estimated_max, "estimated_pct": estimated_pct};
      }

    function getTimeBeforeFull(vp)
    {
      var gap=100-vp;
      return gap*60*60*1.2;

    }
    function startTicker(timeBeforeFull)
    {
      var time=timeBeforeFull;
      $('.voting_period').html(sToTime(time));
      var interval=setInterval(function(){
        time--;
        if(time>=0){
          $('.voting_period').html(sToTime(time));
        }
        else
        $('.voting_period').html("Voting soon");
          clearInterval(interval);

      }, 1000);
    }

function sToTime(duration) {
    let  seconds = parseInt((duration%60))
        , minutes = parseInt((duration/60)%60)
        , hours = parseInt((duration/(60*60))%24);

    hours = (hours < 10) ? "0" + hours : hours;
    minutes = (minutes < 10) ? "0" + minutes : minutes;

    return hours + "<span class='unit'>h</span> " + minutes + "<span class='unit'>m</span>";
}

	/* Mobile menu openning */
	$( document ).ready(function() {
		var menuMainButton = $('.menu-main-button');
		menuMainButton.click(function(){
			if ($('body').hasClass('open-menu'))
				$('body').removeClass('open-menu');
			else {
				$('body').addClass('open-menu');
			}
		});
	});
    </script>
    <script src="/public/assets/js/scripts.js"></script>
  </body>
</html>
