<html lang="en">
  <%- include include/head.ejs %>
    <body>
        <div class="container">
          <%- include include/header.ejs %>
			<div class="top">
        <div class="wrapper">
					<div class="top_left">
	          <div class="menu">
	            <ul class="menu-charts">
  	            <li><a href="/now" class="item">Now</a></li>
	              <li><a href="/today" class="item">Today</a></li>
	              <li><a href="/yesterday" class="item">Yesterday</a></li>
	              <li><a href="/alltime" class="item">Alltime</a></li>
  	            <li><a href="/new" class="item">New</a></li>
	            </ul>
	          </div>
						<% if(active===0){ %>
						<div class="voting_period_wrapper">
	            <p class="h2">Voting period ends in:</p>
	            <div class="voting_period">
								<span class="skeleton">
									00<span class='unit'>h</span> 00<span class='unit'>m</span> 00<span class='unit'>s</span>
								</span>
							</div>
              <% if(posts.length!==0){ %>
	            <div class="goes_to">1UP goes to <a href="https://utopian.io/@<%= posts[0].get('author')%>" class="goes_to_user" target="_blank" title="Utopian profile">@<%= posts[0].get('author')%> !</a></div><%}%>
	          </div> <%}
            else if(active===1){ %>
						<div class="voting_period_wrapper">
              <% if(posts.length!==0){ %>
	            <div class="goes_to">Today's star is <a href="https://utopian.io/@<%= posts[0].get('author')%>" class="goes_to_user" target="_blank" title="Utopian profile">@<%= posts[0].get('author')%> !</a></div><%}%>
	          </div> <%}
            else if(active===2){ %>
						<div class="voting_period_wrapper">
              <% if(posts.length!==0){ %>
	            <div class="goes_to">Yesterday was <a href="https://utopian.io/@<%= posts[0].get('author')%>" class="goes_to_user" target="_blank" title="Utopian profile">@<%= posts[0].get('author')%> 's day!</a></div><%}%>
	          </div> <%}
            else if(active===3){ %>
						<div class="voting_period_wrapper">
              <% if(posts.length!==0){ %>
	            <div class="goes_to">No one can beat <a href="https://utopian.io/@<%= posts[0].get('author')%>" class="goes_to_user" target="_blank" title="Utopian profile">@<%= posts[0].get('author')%> !</a></div><%}%>
	          </div> <%}%>
	        </div>
	        <% if(posts.length!==0&&active!=4){ %>
	        <div class="post_default top_post">
	          <span class="nb_post">1</span>
		          <div class="post_img" style="background-image: url(<%= posts[0].get('image')%>)">
								<div class="post_links">
									<a href="https://steemit.com/utopian-io/@<%= posts[0].get('author')%>/<%=posts[0].get('permlink') %>" class="post_link link-steemit icon-steemit" target="_blank" title="Open on Steemit"></a>
									<a href="https://utopian.io/utopian-io/@<%= posts[0].get('author')%>/<%=posts[0].get('permlink') %>" class="post_link link-utopian icon-utopian" target="_blank" title="Open on Utopian"></a>
									<a href="https://busy.org/utopian-io/@<%= posts[0].get('author')%>/<%=posts[0].get('permlink') %>" class="post_link link-busy icon-busy" target="_blank" title="Open on Busy"></a>
								</div>
								<div class="button-upvote 1UP_votes" id="@<%= posts[0].get('author')%>/<%=posts[0].get('permlink') %>"><span class="icon icon-1up"></span><span class="votes_amount"><%= posts[0].get('from_length')%></span></div>
							</div>
	          <div class="post_author"><a href="https://utopian.io/@<%= posts[0].get('author')%>" target="_blank"><%= posts[0].get('author')%> <%= /*posts[0].get('reputation')*/%></a></div>
	          <a href="https://utopian.io/utopian-io/@<%= posts[0].get('author')%>/<%=posts[0].get('permlink') %>" class="post_title" title="<%= posts[0].get('title')%>" target="_blank"><%= posts[0].get('title')%></a> <!-- TODO: Add link to post -->
	        </div>
	        <%}%>
        </div>
        <% if(active===4){ %>
        <ul class="sub-menu-charts">
          <li><a href="/new" class="item">All</a></li>
          <li><a href="/new?cat=development" class="item">Development</a></li>
          <li><a href="/new?cat=bug-hunting" class="item">Bug Hunting</a></li>
          <li><a href="/new?cat=documentation" class="item">Documentation</a></li>
          <li><a href="/new?cat=analysis" class="item">Analysis</a></li>
          <li><a href="/new?cat=ideas" class="item">Suggestion</a></li>
          <li><a href="/new?cat=graphics" class="item">Graphics</a></li>
          <li><a href="/new?cat=visibility" class="item">Visibility</a></li>
          <li><a href="/new?cat=tutorials" class="item">Tutorial</a></li>
          <li><a href="/new?cat=video-tutorials" class="item">Video Tuto</a></li>
          <li><a href="/new?cat=copywriting" class="item">Copywriting</a></li>
        </ul>
        <%} %>
      </div>

      <div class='other_posts'>
       	<% posts.forEach(function(post, index) { if(index!==0||active==4){%>
				<div class="post_default post">

         	<span class="nb_post"><%=index+1%></span>
					 	<div class="post_img" style="background-image: url(<%= posts[index].get('image')%>)">
							<div class="post_links">
								<!-- TODO: These links dont work -->
								<a href="https://utopian.io/utopian-io/@<%= post.get('author')%>/<%=post.get('permlink') %>" class="post_link link-utopian icon-utopian" target="_blank" title="Open on Utopian"></a>
                <a href="https://steemit.com/utopian-io/@<%= post.get('author')%>/<%=post.get('permlink') %>" class="post_link link-steemit icon-steemit" target="_blank" title="Open on Steemit"></a>
								<a href="https://busy.org/utopian-io/@<%= post.get('author')%>/<%=post.get('permlink') %>" class="post_link link-busy icon-busy" target="_blank" title="Open on Busy"></a>
						 	</div>
							<div class="button-upvote 1UP_votes" id="@<%= post.get('author')%>/<%=post.get('permlink') %>"><span class="icon icon-1up"></span><span class="votes_amount"><%= posts[index].get('from_length')%></span></div>
						</div>
	        <div class="post_author"><a href="https://utopian.io/@<%= posts[index].get('author')%>" target="_blank"><%= posts[index].get('author')%></a> <%= /*posts[index].get('reputation')*/%></div>
	        <a href="https://utopian.io/utopian-io/@<%= posts[index].get('author')%>/<%=posts[0].get('permlink') %>" class="post_title" title="<%= posts[index].get('title')%>" target="_blank"><%= posts[index].get('title')%></a> <!-- TODO: Add link to post -->
				</div>
	      <% }}); %>

				<% if(posts.length<=0){%>
 				 <div class="empty-state">
 					 <br>
 					 <p class="h2">We don’t have anything<br> to show yet</p>
 					 <br>
 					 <p>Install <a href="https://chrome.google.com/webstore/detail/steemplus/mjbkjgcplmaneajhcbegoffkedeankaj" target="_blank" title="Install SteemPlus">SteemPlus chrome extension</a> and be among first.</p>
 				 </div>
 			 <% } %>

      </div>


			<footer id="footer" class="align-center">
				<p>Created with <span class="heart">♥</span> for Steem and Utopian</p>
				<p>Idea by <a href="https://steemit.com/@flauwy" target="_blank">@flauwy</a>, development by <a href="https://steemit.com/@stoodkev" target="_blank">@stoodkev</a>, design by <a href="https://steemit.com/@andrejcibik" target="_blank">@andrejcibik</a>.</p>
      </footer>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.steemjs.com/lib/latest/steem.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parse/1.11.0/parse.min.js"></script>
    <script>

    $('.menu ul li a').eq(<%=active%>).addClass('active');

    steem.config.set('websocket','wss://steemd.privex.io');


    <%if(posts.length!==0&&(active==0||active==4)&&session.loggedIn&&account!==undefined&&posts.length!=0)
    {%>
      var reputation=steem.formatter.reputation(<%=account.reputation%>);
      console.log(reputation);
      if(reputation>=45)
      {
        console.log($('.1UP_votes').length);
        $('.1UP_votes').css('cursor','pointer');
        $('.1UP_votes').on('click', function(){
          url="https://utopian.io/utopian-io/"+this.id;
          console.log(url);
          $.ajax({
            type: "POST",
            beforeSend: function(xhttp) {
              xhttp.setRequestHeader("Content-type", "application/json");
              xhttp.setRequestHeader("X-Parse-Application-Id", "efonwuhf7i2h4f72h3o8fho23fh7");
            },
            url: '/parse/classes/Votes',
            data:JSON.stringify({"token":"<%=sToken%>","url":url}),
            processData: false,
            success: function(msg) {
              console.log('voted!');
              setTimeout(function(){
              location.reload();
              },750);
            },
            error: function(msg) {
              alert(msg.responseJSON.error);
            }
          });
        });
      }
    <%}%>

      console.log("ACTIVE",<%=active%>);
      if(<%=active%>==0)
      {
        steem.api.getAccounts(["<%=bot%>"], function(err, result) {
        console.log(err, result);
        var vp=getVotingPower(result["0"]);
        var timeBeforeFull=getTimeBeforeFull(vp);
        startTicker(timeBeforeFull);
        console.log(vp,timeBeforeFull);
        });

      }

      if(<%=active%>==4)
      {
        if("<%=type%>"=="0")
        {
          $('.sub-menu-charts li a').eq(0).addClass('active');
        }
        else
          $('.sub-menu-charts li a[href="/new?cat=<%=type%>"]').addClass('active');
      }

    function getVotingPower(acc) {
      var secondsago = (new Date - new Date(acc.last_vote_time + "Z")) / 1000;
      vpow = acc.voting_power + (10000 * secondsago / 432000);
      vpow = Math.min(vpow / 100, 100).toFixed(2);
      return vpow;
    }

    function getTimeBeforeFull(vp)
    {
      var gap=100-vp;
      return gap*60*60*1.2;

    }
    function startTicker(timeBeforeFull)
    {
      var time=timeBeforeFull;
      $('.voting_period').html(sToTime(time));
      var interval=setInterval(function(){
        time--;
        if(time>=0){
          $('.voting_period').html(sToTime(time));
        }
        else
          clearInterval(interval);

      }, 1000);
    }

    function sToTime(duration) {
    var  seconds = parseInt((duration%60))
        , minutes = parseInt((duration/60)%60)
        , hours = parseInt((duration/(60*60))%24);

    hours = (hours < 10) ? "0" + hours : hours;
    minutes = (minutes < 10) ? "0" + minutes : minutes;
    seconds = (seconds < 10) ? "0" + seconds : seconds;

    return hours + "<span class='unit'>h</span> " + minutes + "<span class='unit'>m</span> " + seconds +"<span class='unit'>s</span>";
}

	/* Mobile menu openning */
	$( document ).ready(function() {
		var menuMainButton = $('.menu-main-button');
		menuMainButton.click(function(){
			if ($('body').hasClass('open-menu'))
				$('body').removeClass('open-menu');
			else {
				$('body').addClass('open-menu');
			}
		});
	});


    </script>
    <script src="/public/assets/js/scripts.js"></script>

  </body>
</html>
