<html lang="en">
  <%- include include/head.ejs %>
    <body>
        <div class="container">
            <%- include include/header.ejs %>
<!-- HTML for erros !-->
            <div class='outline'>
                <div id="inner">
                  <h2><%= community.get("name") %></h2>
                  <div id="view_img" style="background-image: url(<%= community.get("image") %>">
                  </div>
                  <h3>Short description</h3>
                  <p><%= community.get("description") %></p>
                  <h3>Trail account</h3>
                  <% if(trail===null){ %>
                  <p>The trail account has not been set up yet. Use this link to connect it:</p>
                  <a target="_blank" href="<%= serverURL %>/trail_account/<%= community.get("link_trail") %>">
                    <%= serverURL %>/link_trail/<%= community.get("link_trail") %>
                  </a>
                  <% } else { %>
                  <a target="_blank" href="https://steemit.com/@<%= trail.get("username") %>">
                    @<%= trail.get("username") %>
                  </a>
                  <% } %>
                  <h3>Administrators</h3>
                  <p><%= community.get("administrators") %></p>
                  <h3>Moderators</h3>
                  <p><%= community.get("moderators") %></p>
                  <h3>Post selection</h3>
                  <p><%= community.get("type_community") %></p>
                  <h3>Tags</h3>
                  <p><%= community.get("tags") %></p>
                  <% if (community.get("type_community")==="Whitelist only"){ %>
                  <h3 >Whitelist</h3>
                  <p><%= community.get("whitelist") %></p>
                  <%} else { %>
                  <h3 >Blacklist</h3>
                  <p><%= community.get("blacklist") %></p>
                  <% }  %>
                  <h3>Vote at Voting Power percentage</h3>
                  <p><%= community.get("vote_when") %></p>
                  <h3>Maximum number of daily upvotes per user</h3>
                  <p><%= community.get("max_upvote") %></p>
                  <% if(community.get("owner")===session.name||
                      community.get("administrators").includes(session.name)||
                      community.get("moderators").includes(session.name)){ %>
                    <button id="edit" onclick="location.href='/edit/<%= community.get("name") %>'">Edit Parameters</button>
                  <% }
                  if(trail===null||trail.get("username")!==session.name){ %>
                    <button id="follow_trail">Follow Trail</button>
                    <div id="follow_div">
                      <input id="percent_vote_follow" type="number" placeholder="Vote percentage"/>
                      <button id="confirm_trail">Confirm</button>
                    </div>
                  <% } %>
              </div>
          </div>
          <%- include include/footer.ejs %>
          </div>

          <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
          <script src="https://cdn.steemjs.com/lib/latest/steem.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/parse/1.11.0/parse.min.js"></script>
          <script src="/public/assets/js/scripts.js"></script>
          <script>
            // Add to none to empty fields
            $("p").each(function(){
              if($(this).html()=="")
                $(this).html("None");
            });

            $("#follow_trail").click(function(){
              $("#follow_div").show();
            });

            $("#confirm_trail").click(function(){
              if($("#percent_vote_follow").val()<=100&&$("#percent_vote_follow").val()>=0)
                windows.location.href="/trail/<%= community.id %>/"+$("#percent_vote_follow").val();
            });
          </script>
      </body>
</html>
