<!DOCTYPE html>
<html lang="en">
  <%- include include/head.ejs %>
    <body>
        <div class="wrapper">
            <%- include include/header.ejs %>
            <main class="main">
                <section id="wallet">
                    <div class="container">
                        <h2>UP Wallet</h2>
                        You have <span class="total-tokens"><%= tokens ? tokens.tokens : 0 %></span> <span class="ticker">UP</span>.
                        <% (tokens ? tokens.history : []).forEach(function (event) { %>
                            <div class='history-item'>
                                <br>
                                <span class='history-amount'>+<%= event.amount %> UP</span>
                                <%
                                    var reason = event.reason ? event.reason[0] : "other";
                                    var reasonText;
                                    if (reason === "other") {
                                        reasonText = "Other";
                                    } else if (reason === "adminui") {
                                        reasonText = "Manual transfer";
                                    } else if (reason === "modcomment") {
                                        reasonText = "<a href='https://busy.org/" + event.reason[1] + "' target='_blank'>This post</a> was approved by a moderator";
                                    } else if (reason === "delegation") {
                                        reasonText = "Delegation payout";
                                    } else {
                                        reasonText = "Other";
                                    }
                                %>
                                <div class='history-reason'>Reason: <%- reasonText %></div>
                            </div>
                        <% }); %>
                    </div>
                </section>
            </main>
            <%- include include/footer.ejs %>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.steemjs.com/lib/latest/steem.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/parse/1.11.0/parse.min.js"></script>
        <script src="/public/assets/js/scripts.js"></script>
        <script>
            /* Mobile menu openning */
            $(document).ready(function() {
                const menuMainButton = $('.menu-icon');
                menuMainButton.click(function() {
                    $('.mobile-menu').toggleClass('open');
                });
            });
        </script>
    </body>
</html>
