<header class="header">
  <div class="container">
      <div class="inner">
          <a href="/">
              <img src="/public/assets/images/global/1up_logo_white.svg" class="logo" />
          </a>

          <div class="desktop-menu">
              <ul class="menu">
                  <li class="menu-item">
                      <a href="/">COMMUNITIES</a>
                  </li>
                  <li class="menu-item">
                      <a href="https://busy.org/@steem-1up" target="_blank">UPDATES</a>
                  </li>
                  <% if(!session.loggedIn){ %>
                    <li class="menu-item">
                      <a href="/login">LOGIN</a>
                    </li>
                  <% } %>
              </ul>
          </div>
          <% if(session.loggedIn){
            img="https://steemitimages.com/u/"+session.name+"/avatar";
          %>
            <div class="desktop-user">
                <div class="user-drop">
                    <div class="inner">
                      <img class="avatar" alt="avatar" src="<%- img %>" />
                      <div class="username">
                        <select id="loggedIn" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                          <option class="no_link">@<%= session.name%></option>
                          <% if(session.communities!==null)
                          {
                            for (com of JSON.parse(session.communities)) {  %>
                          <option value="/view/<%= com.name %>"><%= com.name %></option>
                            <% }} %>

                            <% if(session.trails!==null)
                            {
                              for (aTrail of JSON.parse(session.trails)) {
                            if(session.communities==null||JSON.parse(session.communities).filter(function(e){return e.name==aTrail.community.name}).length==0){ %>
                            <option value="/view/<%= aTrail.community.name %>"><%= aTrail.community.name %></option>
                            <% }}} %>
                          <option value="/create">Create Community</option>
                          <option value="/wallet">UP Wallet</option>
                          <option value="/logout">Logout</option>
                        </select>
                      </div>
                    </div>
                </div>
            </div>
          <% } %>

          <div class="mobile-menu-selector">
              <img src="/public/assets/images/global/menu.svg" class="menu-icon" />
          </div>
      </div>
  </div>
  <div class="mobile-menu">
      <div class="mobile-menu-list">
          <div class="mobile-logo">
              <img src="/public/assets/images/global/1up_logo_white.svg" class="logo" />
          </div>
          <div class="mobile-menu-item">
            <a href="/">
              <span class="mobile-menu-text">
                COMMUNITIES
              </span>
            </a>
          </div>
          <div class="mobile-menu-item">
            <a href="https://busy.org/@steem-1up" target="_blank">
              <span class="mobile-menu-text">
               UPDATES
              </span>
            </a>
          </div>
          <% if(!session.loggedIn){ %>
            <div class="mobile-menu-item">
              <a href="/login">
                <span class="mobile-menu-text">
                  LOGIN
                </span>
              </a>
            </div>
          <% } else { %>
            <div class="mobile-menu-user">
              <select id="loggedInMobile" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                <option class="no_link">@<%= session.name%></option>
                <% if(session.communities!==null)
                {
                  for (com of JSON.parse(session.communities)) {  %>
                <option value="/view/<%= com.name %>"><%= com.name %></option>
                  <% }} %>

                  <% if(session.trails!==null)
                  {
                    for (aTrail of JSON.parse(session.trails)) {
                  if(session.communities==null||JSON.parse(session.communities).filter(function(e){return e.name==aTrail.community.name}).length==0){ %>
                  <option value="/view/<%= aTrail.community.name %>"><%= aTrail.community.name %></option>
                  <% }}} %>
                <option value="/create">Create Community</option>
                <option value="/wallet">UP Wallet</option>
                <option value="/logout">Logout</option>
              </select>
            </div>
          <% } %>

      </div>
  </div>
</header>
